@media only screen and (max-width:1012px){
	#header {
		background-image: url(../img/header/naming-area-portrait.svg);
	}
}
@media only screen and (max-width:459px){
	#header{
		background-image:url(../img/header/naming-area-mobile.svg);
	}
}

/*.homepage.crop .lfthnd, .homepage.crop .service { display: none; }*/
.homepage.crop .lfthnd { display: block; }
.homepage.crop .megamenu .n1 a {
  visibility: visible!important;
  width: 29px;
}

.size3metarows .img + p {
  height: 114px!important;
}
.contnt.crop .margiblock, .subhm.crop .margiblock, .homepage.crop .margiblock {
  background-color: #f3f3f3;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 180px;
}

ul.prd-list, ul.crd-list {

  position: relative;
  margin-left: 0; padding-left: 10px;
  margin-top: 10px;
}
	ul.prd-list li {
	  float: left;
	  line-height: 16px;
	  line-height: 1.6em;
	  list-style: none;
	  width: 200px;
	}

  ul.crd-list li {
    float: left;
    line-height: 16px;
    line-height: 1.6em;
    list-style: none;
    width: 200px;
    min-height: 180px;
    text-align: center;
  }
    ul.crd-list li img {
      padding: 5px 10px;
    }


.standardwidth-prod {
  width: 180px;
}
img.prod-package {
  margin: 20px auto 0;
  max-width: 120px;
}
.warning {
  color: #ff0000;
}

.table-prod {
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0px 0;
  empty-cells: show;
  margin: 0;
  overflow: auto;
  padding: 0 2px;
  position: relative;
  table-layout: auto;
  text-align: left;
  vertical-align: top;
  width: auto;
}

.table-prod td {
	padding: 4px 0;
}
.col-left {
	width: 100px;
}
.table-prod ul, .table.kborder ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.table-prod ul li, .table.kborder ul li {
	background:transparent url(../img/sys/bullet.png) no-repeat 0 0; 
	margin-bottom:2px; 
	padding-left:20px; 
	margin-left: -8px;
} 

.table.kborder tr:first-child th, .table.kborder tr.th:first-child td, .table.kborder tr.borderblue td {
  border-bottom: 3px solid #0090c5;
  text-align: left;
}

.table.kborder {
	border: 1px solid #dcdcdc;
	padding: 0 2px 10px!important;
}

.table.kborder2 {
  padding: 10px;
}

.crop-calendar .size-col-d {
  margin-right: 7px;
  width: 80%!important;
}
.crop-calendar aside.margi {
  display: none;
}

.table-calendar-hd {
  padding: 10px;
  width: 100%;
}
  .table-calendar-hd .title {
    display: table-cell;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    width: 15%;
    text-align: left;
/*    padding-right: 10px;*/
  }
  .table-calendar-hd .title-qu1 {
    display: table-cell;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    width: 15%;
    text-align: left;
    padding-left: 10px;
  }  
  .table-calendar-hd .title-logo {
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    width: 15%;
    text-align: right;
    padding-right: 10px;
  } 
  .table-calendar-hd .title-qu2 {
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    width: 15%;
    text-align: left;
    padding-left: 10px;
  }   
  .table-calendar-hd img {
    max-width: 100%;
  }
  .table-calendar-hd .title-logo img {
    height: 30px
  }
  .spacer-td {
  padding: 15px 10px;
}
.blue-c {
  background: #c7eafb
}
.percent-blue {
  background: url(../img/crop-calendar/bar-blue2.png) no-repeat right top;
  height: 32px;
}
.percent-green {
  background: url(../img/crop-calendar/bar-green.png) no-repeat right top;
  height: 32px;
}
.percent-orange {
  background: url(../img/crop-calendar/bar-orange.png) no-repeat right top;
  height: 32px;
}
.percent-violet {
  background: url(../img/crop-calendar/bar-violet.png) no-repeat right top;
  height: 32px;
}

  .percent-blue span, .percent-green span, .percent-orange span, .percent-violet span {
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    line-height: 1em;
  }

