article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display:block
}
audio, canvas, video {
	display:inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
display:none;
height:0
}
[hidden] {
display:none
}
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
html, button, input, select, textarea {
	font-family:Arial, Helvetica, sans-serif
}
body {
	margin:0
}
a:focus {
	outline:thin dotted
}
a:active, a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b, strong {
	font-weight:bold
}
p {
	margin:0 10px 25px
}
small {
	font-size:80%
}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
dl, menu, ol, ul {
	margin:1em 0
}
dd {
	margin:0 0 0 40px
}
menu, ol, ul {
	padding:0 0 0 40px
}
nav ul, nav ol {
	list-style:none;
	list-style-image:none
}
img {
	border:0;
	-ms-interpolation-mode:bicubic
}
svg:not(:root) {
overflow:hidden
}
figure {
	margin:0
}
form {
	margin:0
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	border:0;
	padding:0;
	white-space:normal;
*margin-left:-7px
}
button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
*vertical-align:middle
}
button, input {
	line-height:normal
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
*overflow:visible
}
button[disabled], input[disabled] {
	cursor:default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing:border-box;
	padding:0;
*height:13px;
*width:13px
}
input[type="search"] {
	-webkit-appearance:none;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-border-radius:0
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow:auto;
	vertical-align:top
}
table {
	border-collapse:collapse;
	border-spacing:0
}
html, button, input, select, textarea {
	color:#333
}
body {
	font-size:1em;
	line-height:1.375em;
	margin:0;
	max-width:600px;
	min-width:320px;
	position:relative
}
::-moz-selection {
background:#b3d4fc;
text-shadow:none
}
::selection {
background:#b3d4fc;
text-shadow:none
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}
img {
	vertical-align:middle
}
fieldset {
	border:0;
	margin:0;
	padding:0
}
textarea {
	resize:vertical
}
ul {
	list-style:none;
	margin:0;
	padding:0
}
a {
	text-decoration:none;
	color:#0090c5
}
.logo {
	background:url(../img/mobile/header-sfabl.png) no-repeat 0 -50px transparent;
	display:block;
	height:48px;
	position:absolute;
	right:20px;
	top:6px;
	width:48px
}
.namingarea {
	background-image:url(../img/mobile/header-sfabl.png);
	background-position:19px 15px;
	height:60px
}
.top-nav {
	height:40px;
	background-color:#0090c5
}
.top-nav li {
	float:left
}
.top-nav a {
	background:transparent url(../img/mobile/msprite.png) no-repeat 0 0;
	border-right:1px solid #66bcdc;
	color:#fff;
	display:block;
	font-weight:bold;
	padding:8px 19px 10px 39px
}
.top-nav a.selected {
	background-color:#ecf7fc;
	color:#0090c5
}
.menu-1 a {
	background-position:0 0
}
.menu-1 .selected {
	background-position:0 -50px
}
.menu-2 a {
	background-position:0 -100px
}
.menu-2 .selected {
	background-position:0 -150px
}
.top-nav .lang {
	float:right
}
.lang a {
	background-image:none;
	border:0;
	margin:9px 11px;
	padding:0 10px
}
.nav {
	background-color:#ecf7fc
}
.nav a {
	display:block;
	background:transparent url(../img/mobile/msprite.png) no-repeat right -200px;
	border-bottom:1px dotted #0090c5;
	padding:9px 30px 9px 10px
}
.searchbox {
	background-color:#ecf7fc;
	padding:25px 10px
}
.searchbox input {
	background-color:#fff;
	width:75%;
	border:1px solid #aad5e6;
	height:25px;
	margin-right:6px
}
.searchbox .btn {
	background:#0994c7 url(../img/mobile/msprite.png) no-repeat right -1000px;
	border:0;
	overflow:hidden;
	text-indent:-999em;
	width:34px;
	height:30px
}
.nav, .searchbox {
	display:none
}
.kv {
	position:relative
}
.kv a {
	color:#390
}
.kv img {
	width:100%
}
.kv-content {
	background:rgba(255, 255, 255, 0.75);
	bottom:0;
	display:block;
	width:100%;
	position:absolute
}
.kv-content strong {
	display:block;
	font-size:100%;
	margin:11px 10px 11px 12px
}
.home .breadcrumb {
	display:none
}
.breadcrumb {
	font-size:80%;
	margin:8px 10px 24px
}
.breadcrumb li {
	color:#0090c5;
	display:inline
}
.breadcrumb li:after {
	content:"?";
	content:"\203a";
	display:inline-block;
	padding:0 6px 0 10px
}
.breadcrumb li:last-child:after {
	content:""
}
.content {
	margin-bottom:31px
}
h1 {
	font-size:160%;
	line-height:1.3em;
	color:#0090c5;
	margin:0 10px 21px
}
h2 {
	font-size:125%;
	color:#0090c5;
	line-height:1.3em;
	margin:0 10px 8px
}
h3 {
	font-size:100%
}
.more {
	background:transparent url(../img/mobile/msprite.png) no-repeat right -300px;
	padding-right:12px
}
.ov {
	padding:0 0 0 8px;
	background:transparent url(../img/mobile/msprite.png) no-repeat 0 -400px;
	color:#333
}
.mlnk a {
	background:transparent url(../img/mobile/msprite.png) no-repeat 0 -400px;
	padding:0 0 0 8px;
	color:#333
}
.linklist {
	margin:0 -10px
}
.linklist a, .onAccHead {
	background:#fff url(../img/mobile/msprite.png) no-repeat 0 -500px;
	border:1px solid #dcdcdc;
	border-width:1px 0;
	color:#0090c5;
	cursor:pointer;
	display:block;
	font-size:100%;
	font-weight:normal;
	margin:0 0 -1px;
	padding:9px 10px 9px 35px
}
.onAccordion .selected {
	color:#390;
	background-position:0 -600px
}
.onAccordionContent p {
	margin-top:23px
}
.linklist a {
	background-position:right -200px;
	padding-right:30px;
	padding-left:10px
}
.onAccordionContent {
	padding:10px 0 0
}
.news {
	margin:0 8px 8px
}
.news a {
	font-weight:bold
}
.news, .news a {
	color:#390
}
.news .date {
	color:#333
}
h3, .media, hr, .img, .topline, .introtext, .p, .mlnk {
	margin:0 10px
}
.p p {
	margin:0
}
figcaption p {
	margin:0
}
.img.fullwidth img {
	width:100%
}
.media .img {
	margin:0
}
.media h3, .media p, .media .lnk {
	margin-right:0;
	margin-left:0
}
.media p {
	margin-top:0;
	margin-bottom:0
}
.bd, .ft, .hd {
	overflow:hidden;
*overflow:visible;
	zoom:1
}
.media {
	overflow:hidden;
*overflow:visible;
	zoom:1;
	margin-top:9px
}
.media .img {
	float:left;
	margin:3px 20px 12px 0
}
.homepage .media .img, .subhm .media .img {
	margin-right:12px
}
.media .img img {
	display:block
}
.media .hdln {
	margin:0
}
.bd {
	margin-bottom:10px
}
.size1of3 .media .img, .size-col-b .media .img, .teaser .media .img {
	margin-bottom:10px
}
.float .bd {
	overflow:visible
}
.socialmedia {
	margin-bottom:15px
}
.h3 {
	font-size:12px;
	font-weight:normal;
	display:inline;
	color:#333;
	float:left;
	margin:1px 10px 0
}
.socialmedia ul {
	margin:0 10px;
	font-size:12px
}
.socialmedia li {
	float:left
}
.socialmedia a.ir {
	background-image:url(../img/mobile/msprite.png);
	height:24px;
	margin:0 12px 0 0;
	width:24px
}
.fb {
	background-position:0 -900px
}
.gp {
	background-position:0 -925px
}
.yt {
	background-position:0 -950px
}
.li {
	background-position:0 -975px
}
footer {
	clear:left
}
.fnav {
	margin:0 0 20px
}
.fnav li {
	margin-bottom:3px;
	float:left;
	width:25%
}
.fnav li:nth-child(2) {
width:42%
}
.fnav li:nth-child(3) {
width:33%
}
.fnav li.top-anchor {
	clear:left;
	float:none;
	text-align:right;
	width:100%
}
.fnav a {
	background-color:#f3f3f3;
	border-right:1px solid #fff;
	color:#333;
	display:block;
	font-size:75%;
	padding:8px 10px 10px 32px;
	white-space:nowrap
}
.icn-contact, .icn-share, .icn-website, .icn-top {
	background:transparent url(../img/mobile/msprite.png) no-repeat 0 0
}
.icn-contact {
	background-position:-1px -710px
}
.icn-share {
	background-position:0 -750px
}
.icn-website {
	background-position:0 -800px
}
.icn-top {
	background-position:0 -850px;
	display:inline-block !important;
	height:13px;
	width:16px
}
.legal {
	line-height:.9em;
	font-size:75%;
	padding:0 0 10px
}
.legal li {
	float:left;
	padding:0 10px;
	border-right:1px solid #999;
	margin-bottom:9px
}
.legal li a {
	color:#333
}
.legal li:first-child {
	float:none;
	border:0
}
.legal li:last-child {
	border:0
}
#shareModal h1 {
	font-size:100%;
	margin:0 10px 15px;
	padding-top:13px
}
.smedia h3 {
	margin:0;
	font-size:75%
}
.smedia .nobulls {
	margin:8px 0
}
.smedia li {
	margin-bottom:3px
}
.smedia .greybg {
	background-color:#f3f3f3;
	margin:0 10px 10px 0;
	padding:9px 15px 20px
}
.smedia .size1of4 .greybg {
	height:195px
}
.smedia a {
	color:#333;
	font-size:75%;
	display:inline-block
}
.smedia .ir {
	width:16px;
	height:16px;
	background-image:url(../img/sys/some.png);
	margin-right:8px;
	float:left;
	margin-top:2px
}
.facebook {
	background-position:0 0
}
.linkedin {
	background-position:0 -16px
}
.xing {
	background-position:0 -32px
}
.googleplus {
	background-position:0 -48px
}
.foursquare {
	background-position:0 -64px
}
.pinterest {
	background-position:0 -80px
}
.twitter {
	background-position:0 -96px
}
.blogger {
	background-position:0 -112px
}
.wordpress {
	background-position:0 -128px
}
.newsvine {
	background-position:0 -144px
}
.digg {
	background-position:0 -160px
}
.reddit {
	background-position:0 -176px
}
.webnews {
	background-position:0 -192px
}
.delicious {
	background-position:0 -208px
}
.googleshare {
	background-position:0 -224px
}
.misterwong {
	background-position:0 -240px
}
.stumbleupon {
	background-position:0 -256px
}
.oneview {
	background-position:0 -272px
}
.yigg {
	background-position:0 -288px
}
.recommend {
	background-position:0 -304px
}
.smedia .size1of4 {
	width:50%;
	float:left
}
.smedia .line {
	clear:left
}
.reveal-modal {
	position:relative;
	clear:both
}
.reveal-modal .close-reveal-modal {
	font-size:19px;
	position:absolute;
	top:7px;
	right:11px;
	color:#333;
	cursor:pointer;
	line-height:19px;
	height:19px;
	width:19px;
	font-weight:bold;
	text-align:center;
	background-color:#f3f3f3
}
.smedia {
	margin:0 0 0 10px
}
.spacer {
	height:10px
}
.hspacer {
	height:5px
}
.dspacer {
	height:20px
}
.clear {
	float:none
}
.hide {
	display:none
}
.ir {
	display:block;
	background-color:transparent;
	background-repeat:no-repeat;
	border:0;
	overflow:hidden;
*text-indent:-9999px
}
.ir:before {
	content:"";
	display:block;
	width:0;
	height:100%
}
.ir br {
	display:none
}
.clearfix:before, .clearfix:after {
	content:" ";
	display:table
}
.clearfix:after {
	clear:both
}
.clearfix {
*zoom:1
}
@media print {
* {
	background:transparent !important;
	color:#000 !important;
	box-shadow:none !important;
	text-shadow:none !important
}
a, a:visited {
	text-decoration:underline
}
abbr[title]:after {
	content:" (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
content:""
}
pre, blockquote {
	border:1px solid #999;
	page-break-inside:avoid
}
thead {
	display:table-header-group
}
tr, img {
	page-break-inside:avoid
}
img {
	max-width:100% !important
}
@page {
margin:.5cm
}
p, h2, h3 {
	orphans:3;
	widows:3
}
h2, h3 {
	page-break-after:avoid
}
}
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.top-nav a {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.nav a {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.searchbox .btn {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.more {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.ov {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.mlnk a {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.linklist a, .onAccHead {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.socialmedia a.ir {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.icn-contact, .icn-share, .icn-website, .icn-top {
background-image:url(../img/mobile/mspirte_retina.png);
-webkit-background-size:60px 1200px;
background-size:60px 1200px
}
.logo {
background-image:url(../img/mobile/header_retina.png);
-webkit-background-size:210px 98px;
background-size:210px 98px
}
.namingarea {
background-image:url(../img/mobile/header_retina.png);
-webkit-background-size:210px 98px;
background-size:210px 98px
}
.lang a {
background-image:none
}
}
